* {box-sizing: border-box;}  /* 박스사이즈 */
/*local or web(@inport) 글꼴 작성위치
 ->웹글꼴 (import) 붙여넣는 곳 <style>는 지운다 */
@import url();
/* 로컬글꼴 font-face 
    font-face로 연결하려는 글꼴의 글꼴명, 글꼴의 경로를 먼저 작성해야한다!*/
@font-face{
    font-family:; /* 글꼴명 지정 */
    src:url(); /* ./는 현재폴더 ../상위폴더 */
}



/* 로컬글꼴 연결법 */
/* 웹글꼴 연결법 
    구글폰트접속->글꼴선택->link or import 글꼴 주소가져오기 ->font-family글꼴연결*/


html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address, /*블록*/
em,span,strong,q,sub,sup,del,s,a,img, /*인라인*/
div,header,nav,aside,main,footer,article,figure,figcaption,section,video, /* */
table,thead,tbody,tfoot,tr,th,td, /*테이블관련*/
form,fieldset,legend,input,select,option,button,label,textarea, /*폼관련*/
ul,ol,li,dl,dt,dd /*목록*/ {
        /* 웹사이트 메인글꼴 작성위치 */
    margin:0; padding:0; line-height:1.0; font-size:16px; font-style:normal; 
    font-weight:normal; text-decoration:none;
}
table,tr,th, td {border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:black}
input{outline:none; border:0;}
button {cursor:pointer; border:0;}
fieldset {border:0;}
/* HTML태그에선 의미적으로 존재하나 CSS디자인결과에서 숨겨지는 대상태그에 적용하는 공통클래스 skip */
.skip {display:none;}



/* table, table * {border:2px solid black;} */


/*         table, th, td {border:2px solid black;border-collapse: collapse;}
        tr, th, td {padding:10px;} */
        /* #t, tr, th, td {border:2px solid black;border-collapse: collapse;} */


/* 글자 말줌임 CSS
overflow:hidden; 
white-space:nowrap;
text-overflow:ellipsis; */

랜덤사진
/* <img src="https://picsum.photos/id/123/200" alt=""> */


 파비콘 html 타이틀 밑에 작성
<link rel="shortcut icon" href="파비콘.ico 경로" type="image/x-icon">
<link rel="icon" href="파비콘.ico 경로" type="image/x-icon">


슬라이드
<!-- swiper slide -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>


<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>


스크롤바 설정
/* Firefox */
html {scrollbar-width: 10px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 10px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #222;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}


    /*  화면크기 조정 시 중심축 맞추기 
        필수조건 ★ 비디오의 부모가 vh or px 높이 설정 준비! */
    position:absolute; left: 50%;
    transform:translateX(-50%);
    width:1920px; /* 절대크기값 */



비디오 이미지로 스크롤
const imgElem = document.querySelector('.container img');
const videoImages = [];
let totalImagesCount = 258;
let progress;
let currentFrame;
function setImages() {//이미지 생성 함수 시작
	for (let i = 1; i <= totalImagesCount; i++) {
		let imgElem = document.createElement('img')
		imgElem.src = `./images/${i}.jpg`;
		videoImages.push(imgElem);
	}
}
function init() {//스크롤 동작 함수 시작
	window.addEventListener('scroll', function () {
		progress = pageYOffset / (document.body.offsetHeight - window.innerHeight);
		currentFrame = Math.round((totalImagesCount - 1) * progress);
		imgElem.src = videoImages[currentFrame].src;
	});
}
window.addEventListener('load', init);
setImages();

