 /* ->폰트 import 붙여넣는 곳 <style>는 지운다 */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo:wght@400;700&display=swap');

/* 로컬글꼴 연결법 */
/* 웹글꼴 연결법 
    구글폰트접속->글꼴선택->link or import 글꼴 주소가져오기 ->font-family글꼴연결*/


html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address, /*블록*/
em,span,strong,q,sub,sup,del,s,a,img, /*인라인*/
div,header,nav,aside,main,footer,article,figure,figcaption,section,video, /* */
table,thead,tbody,tfoot,tr,th,td, /*테이블관련*/
form,fieldset,legend,input,select,option,button,label,textarea, /*폼관련*/
ul,ol,li,dl,dt,dd /*목록*/ {
        /* 웹사이트 (link) 메인글꼴 작성위치 */
    margin:0; padding:0; line-height:1.0; font-size:16px; font-style:normal; 
    font-weight:normal; text-align:left; text-decoration:none;
}
table,tr,th, td {border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:black}
input{outline:none; border:0;}