
html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address, /*블록*/
em,span,strong,q,sub,sup,del,s,a,img, /*인라인*/
div,header,nav,aside,main,footer,article,figure,figcaption,section,video, /* */
table,thead,tbody,tfoot,tr,th,td, /*테이블관련*/
form,fieldset,legend,input,select,option,button,label,textarea, /*폼관련*/
ul,ol,li,dl,dt,dd /*목록*/ {
        /* 웹사이트 메인글꼴 작성위치 */
    font-family: 'Noto Sans KR', sans-serif;
    margin:0; padding:0; line-height:1.0; font-size:16px; font-style:normal; 
    font-weight:normal; text-align:left; text-decoration:none;
}
table,tr,th, td {border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:black}
input{outline:none; border:0;}




/* 글자 말줌임 CSS

overflow:hidden; 
white-space:nowrap;
text-overflow:ellipsis; */